.header
  background: #000
  padding: 1.125rem 0 0.625rem 0

.header__nav
  display: flex
  justify-content: space-between

.header__logo--style
  width: 2.75rem
  height: 2.375rem

.header__logo--info
  display: flex
  align-items: center

.header__search--button
  border: none
  outline: none
  background: #000
  display: flex
  align-items: center

.header__nav--button
  background: #000
  border: none
  outline: none 
  &:not(:last-child)
      margin: 0 2.0625rem 0 0

.header__search--srtong
  display: none

.header__searh
  margin-left: 2.5625rem

.header__nav--info
  align-items: center
  display: flex
    
    

